@using App.Domain.Core.Atm.Card.Entities
@model Card


<div class="container px-5 my-5">
	<form method="post" asp-action="ChangePasswordCard">



		<div class="form-floating mb-3">
			<input class=" form-control" name="password" type="text" placeholder="Password" data-sb-validations="required" value="@Model.Password" />
			<label for="password">Password</label>

		</div>
		<div class="d-grid">
			<button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button>

		</div>


	</form>





</div>
