<div class="container px-5 my-5">
    <form>



        <div class="form-floating mb-3">
            <input disabled class=" form-control" name="Balance" type="text" placeholder="Balance" value="@Model" />
            <label for="Balance">Balance</label>

        </div>



    </form>





</div>