@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container px-5 my-5">
   
        <div class="form-floating mb-3">
        <a asp-controller="Card" asp-action="GetBalance" class="btn btn-primary" type="button">Get Balance</a>
        </div>
    <div class="form-floating mb-3">
        <a asp-controller="Card" asp-action="ChangePassword" class="btn btn-primary" type="button">ChangePassword</a>
    </div>
        </div>
