
@{
    Layout = "_Layout";
}
<body>
    <div class="form-container">
        <h1>Login</h1>
        <form asp-action="Index">
            <label for="CardNumber">Card Number:</label>
            <input type="text" id="CardNumber" name="CardNumber" required placeholder="Enter card number">

            <hr>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required placeholder="Enter your password">

            <div class="button">
                <button type="submit" asp-area="" asp-action="Login" asp-controller="Login">Login </button>
            </div>
        </form>
    </div>
</body>
